.Headers{
  color : orange;
  font-size: 50px;
  padding-left: 50px;
  padding-top: 20px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.SubHeader{
  color: orange;
  font-size: 20px;
  padding-top: 20px;
}
.SubHeaderHome{
  color: orange;
  font-size: 40px;
  margin-left: 90px;
  text-align: left;
}
.Picture{
  margin-left:100px;
  width: 500px;
  height: 300px;
}
.Picture2{
  margin-left:10px;
  width: 550px;
  height: 350px;
}
.Picture3{
  width: 500px;
  height: 250px;
}
.Picture4{
  width: 500px;
  height: 500px;
  margin-left: 200px;
}
.code{
  font-size: 20px;
  border: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
.button{
  font-size: 35px;
  margin-left:200px;
  margin-right:100px;
}
html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}
p {
  padding-left: 5%;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif
}
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 90px;
  top: 6px;
}
.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);

}

.meltdown_logo {
  height: 250px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left : 80px;
}
.spectre_logo {
  height: 200px;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left : 70px;

}

.Meltdown_column{
  margin-left: 100px;
  float:left;
  height:500px;
  width:35%;
}

.Spectre_column{
  margin-right: 200px;
  float:right;
  height:500px;
  width:35%;
}

.title-container{
  margin-top: 10px;
  margin-bottom: 20px;
}

.end-container{
  margin-top: 20px;
}
.Meltdown_header{
  text-align: center;
  margin-top : 10px;
  margin-bottom: 30px;
}
.Spectre_header{
  text-align: center;
  margin-top : 10px;
  margin-bottom: 30px;
}
.arraybox {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  background: #ff1c68;
  transform-origin: 50% 50%;
  float:left;
  border: 1px solid white;
  text-align: center
}
.Kernel_memory{
  width: 350px;
  height: 150px;
  margin-top: 100px;
  background: blueviolet;
  transform-origin: 50% 50%;
  float:left;
  text-align: center;
}

.User_memory{
  width: 350px;
  height: 150px;
  margin-top: 30px;
  background: burlywood;
  transform-origin: 50% 50%;
  float:left;
}

.separation_block {
  width: 30px;
  height: 200px;
  margin-top: 10px;
  background: orangered;
  transform-origin: 50% 50%;
  float:left;
}

.anime{
  width: 600px;
  height: 400px;
  position:relative;
  margin-left:180px;
  margin-bottom: 100px;
}
.MeltdownAnime{
  width: 1000px;
  height: 600px;
  margin-left:5%;
  margin-bottom: 100px;
}
.nav-container{
  display:flex;
  align-items: flex-end;
}
.nav_button{
  float:left;
  border-color:red;
}
.Explanation_box{
  background:lightblue;
  float:left;
  width:90%;
  height:100px;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.nav_container{
  margin-left : 150px;
}
.nav_buttons{
  width:10px;
  height:100px;
  margin-bottom: 50px;
}
